body{
    font-family: system-ui;
    background-image: url(pictures/ToC.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
}

.h1{
        font-size: 80px;
        display: flex;
        justify-content: center;
        margin-top: 3%;
}

li{
    font-size: 30px;
    list-style-type: disc ; 
    font-family: system-ui;
}

.liDiv{
    margin-left: 3%;
    width: fit-content;
}

.imgDiv{
    display: flex;
    justify-content: end;
}

.picDiv{
    margin-left: 7%;
    width: max-content;
}

iframe{
    background-color: white;
    margin-left: 70%;
}

.frameDiv{
    display: grid;
    justify-items: right;
    margin-top: -15%;
    width: 20%;
}

.lisMain{
    font-size: 40px;
    padding-left: 5%;
    padding-top: 8%;
    list-style-type: square;
}

.lis{
    font-size: 40px;
    padding-left: 5%;  
    list-style-type: square;
}

.HTMLCodeExample{
    display: flex;
    justify-content: end;
    width: 20%;
    margin-left: 80%;
    margin-top: -22%;
}

.JSCodeExample{
    display: flex;
    justify-content: end;
    width: 20%;
    margin-left: 75%;
}

.phpCodeExample{
    display: flex;
    justify-content: end;
    width: 20%;
    margin-left: 80%;
    margin-top: -22%;
}

.sqlCodeExample{
    display: flex;
    justify-content: end;
    width: 20%;
    margin-left: 10%;
    object-fit: 15%;
}